<h1>Heelo site</h1>
<p>
  На відміну від поширеної думки Lorem Ipsum не є випадковим набором літер. Він походить з уривку класичної латинської літератури 45 року до н.е.,
</p>
<button type="button" class="btn btn-default">
  <%= link_to "Kick me", "" %>
</button>